.overlay{
	background: grey;
	background: rgba(0,0,0,0.8);
	width:100%;
	height: 100%;
	position:fixed;
	top:0;
	left:0;
	display:none;
}
.repo{
	&-contents{
	  background: $white;
	  color: $color-text-dark;
		width:700px;
		min-height: 350px;
	  border-radius: .5em;
	  padding: 2em;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-right: -50%;
	  transform: translate(-50%, -50%)
	}
	&-stats{
		margin-right: 20px;
	}
	&-topics{
		display:inline-block;
		background-color: $green;
		border: solid 1px $green;
		border-radius: 2px;
		color:$color-text-light;
		padding: 3px 5px;
		margin:5px;
	}
	&-data{
		margin-top:30px;
	}
}

.btn {
	position:absolute;
	font-size: 2em;
	background-color: transparent;
	border:none;
	color:#777;
}

.btn:focus{
	outline: transparent;
}

.btnclose {
	top:5%;
	right:5%;
}
